@charset "utf-8";
/* CSS Document */

#contact h1,
#privacy-policy h1 {
  margin-top: 10%;
}

#contact h3 {
  margin: 2% 0;
}

#contact ul {
  list-style-type: circle;
  padding: 2% 0 5% 4%;
}

#privacy-policy h3 {
  padding: 3% 0 1% 0;
  
  font-size: 1.5em;
}

#privacy-policy .contact-address {
  margin: 7% auto;
  width: 80%;
}

#privacy-policy ul {
  list-style-type: none;
  text-align: center;
  border: solid 1px #333;
  padding: 2% 0 2% 0;
}

#privacy-policy ul li a:link {
  color: #333;
  text-decoration: none;
}

#privacy-policy ul li a:visited {
  color: #333;
  text-decoration: none;
}

#privacy-policy ul li a:hover {
  color: #000;
  text-decoration: underline;
}

#privacy-policy ul li a:active {
  color: #333;
  text-decoration: underline;
}