@charset "utf-8";
/* CSS Document */

#sitemap a {
	color: #666;
	font-style: normal;
	text-decoration: none;
}

#sitemap a:hover {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
/*

#sitemap .left-contents {
  position: absolute;
  top: 33%;
  left: 20%;
}

#sitemap .middle-contents {
  position: absolute;
  top: 40%;
  left: 50%;
}

#sitemap .right-contents {
  width: 70%;
  position: absolute;
  top: 5%;
  left: 20%;
}
*/

h1 {
  position: absolute;
  top: 32%;
  left: 38%;
}

.parabolic-dl {
  position: absolute;
}

.parabolic-dl dt {
  position: relative;
  top: -187px;
  left: 35%;
  width: 60%;
  text-align: right;
}

.parabolic-dl dd {
  position: relative;
  top: -550px;
  left: 400%;
	width: 100%;
  text-align: left;
}

ul {
  list-style-type: none;
}